<div>
  <h2>Tasks</h2>
  <p>Choose a task and start studying.</p>
  <div class="tasks">
    <mat-card
      class="example-card"
      *ngFor="let task of tasksList"
      class="mat-elevation-z5"
    >
      <mat-card-content>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        <p>
          Etiam enim purus, vehicula nec dapibus quis, egestas eu quam. Nullam
          eleifend auctor leo, vitae rhoncus mi sodales vel. Aenean fermentum
          laoreet volutpat. Integer quam orci, molestie non nibh suscipit,
          faucibus euismod sapien.
        </p>
        <button mat-raised-button color="accent">View Task</button>
      </mat-card-content>
    </mat-card>
  </div>
  <button
    mat-fab
    color="primary"
    *ngIf="authenticated"
    class="new-task"
    routerLink="/new-task"
  >
    <i class="material-icons">note_add</i>
  </button>
</div>
