<mat-card>
  <h2>New Task</h2>
  <mat-form-field class="full-width">
    <input matInput placeholder="Title" (keyup)="updateTitle($event)" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Description"
      (keyup)="updateDescription($event)"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea
      rows="5"
      matInput
      placeholder="Long Description"
      (keyup)="updateLongDescription($event)"
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveTask()">
    Save Task
  </button>
</mat-card>
